@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Outfit", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
body {
  scroll-behavior: smooth !important;
}

/*--------------------------------- ROOT-DEFINE-VALUES --------------------------------- */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-brown: #ffae00;
  --body-color: #f5f7fa;
  --color-black-02: #0d0b0b;
  --color-dark-grey: #ebedf0;
  --color-grey-01: #3d464d;
  --light-grey: #f5f7fa;
  --color-green: #54b435;
  --ff-outfit: "Outfit", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --fs-xxs: 12px;
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-lg: 30px;
}

/*--------------------- DEFINE-ALL = ROOT-VALUE ------------------------------ */
.white {
  color: var(--color-white);
}
.bg_white {
  background-color: var(--color-white);
}
.black {
  color: var(--color-black);
}

.color_brown {
  color: var(--color-brown);
}

.bg_light_grey {
  background-color: #f5f7fa;
}
.color_black_02 {
  color: var(--color-black-02);
}
.fade_grey {
  color: #808080;
}
.color_dark_grey {
  color: var(--color-dark-grey);
}

.light_grey {
  color: var(--color-grey-01);
}

.color_green {
  color: var(--color-green);
}

.bg_black {
  background-color: var(--color-black-02);
}
.bg_brown {
  background-color: var(--color-brown);
}
.bg_grey {
  background-color: var(--color-grey-01) !important;
}
/*---------------------------- DEFINE-ALL = FONT-SIZES ---------------------------- */
.fs-xxs {
  font-size: var(--fs-xxs) !important;
}
.fs-xs {
  font-size: var(--fs-xs) !important;
}
.fs-sm {
  font-size: var(--fs-sm) !important;
}

.fs-lg {
  font-size: var(--fs-lg) !important;
}

/*---------------------------- DEFINE-ALL = FONT-WEIGHT ---------------------------- */
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

/*---------------------------- DEFINE-ALL = FONT-FAMILY---------------------------- */

.ff-outfit {
  font-family: var(--ff-outfit);
}

/*------------------------ DEFINE-ALL = @media----FONT SIZE-SET--------------------  */

@media (max-width: 1199.98px) {
  :root {
    --fs-xxs: 12px;
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-lg: 20px;
  }
}

/* -----------------------------------COMMON-CSS-------------------------- */
.sidebar {
  max-width: 367px;
  width: 367px;
  background-color: var(--color-grey-01);
  min-height: 100vh;
}

/* --------------------Page-css---------------- */
.admin_btn:hover {
  color: var(--color-brown);
  background-color: var(--color-grey-01);
}
.admin_btn {
  padding: 10px 10px !important;
}
.dash_links:hover {
  background-color: #26313a !important;
  border: 50px;
}

.dash_links:hover {
  background-color: #26313a !important;
  border-radius: 50px 0px 0px 50px !important;
}

.dash_links:hover h3 {
  color: var(--color-brown) !important;
}

.list_icons {
  margin-right: 10px;
}

.drop_list li a:hover .list_icons path {
  fill: var(--color-brown);
}
.cursor {
  cursor: pointer;
}
/*Toggle-Menu*/
.togle:hover path {
  fill: var(--color-brown);
}

/*Search-box*/

.form_box {
  background: #ebedf0;
  min-width: 340px;
}

.form_box input:focus {
  outline: none !important;
}
.form_box input {
  color: #a5a6a8 !important;
}

/*Faqs*/
.accordion-item {
  border: none !important;
  width: 100% !important;
  background-color: var(--color-grey-01) !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.accordion-button {
  background: transparent !important;
  border: none !important;
  padding: 0px !important;
}
.accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}
.accordion-header:hover .list_icons path {
  fill: var(--color-brown) !important;
}

.accordion-button::after {
  background-image: url("./Images/svgs/arrow.svg") !important;
}
.accordion-header:hover {
  background-color: #26313a !important;
  border-radius: 50px 0px 0px 50px !important;
}

.accordion-header:hover h3 {
  background-color: #26313a !important;
  color: var(--color-brown) !important;
  border-radius: 50px 0px 0px 50px !important;
}
.accordion-header:focus {
  background-color: #26313a !important;
  color: var(--color-brown) !important;
  border-radius: 50px 0px 0px 50px !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  width: 100% !important;
  background-color: transparent !important;
  color: var(--color-brown) !important;
  border-radius: 50px 0px 0px 50px !important;
}
.accordion-body:hover {
  background-color: #26313a !important;
  color: var(--color-brown) !important;
  border-radius: 50px 0px 0px 50px !important;
}
.accordion-body:hover h3 {
  color: var(--color-brown) !important;
}

/*export_btn*/
.export_btn {
  border-radius: 10px;
  background: var(
    --red_gradient,
    linear-gradient(90deg, #8a2387 0%, #e94057 49.43%, #f27121 105.44%)
  );
}
.export_btn:hover {
  background: var(
    --red_gradient,
    linear-gradient(180deg, #8a2387 0%, #e94057 49.43%, #f27121 105.44%)
  );
}

/*cards*/
.cards {
  min-height: 127px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.para {
  font-size: 10px;
  max-width: 100px;
  margin-left: auto;
}

/* =========Chart-section======  */
.chart_content_wrapper {
  border-radius: 10px !important;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

/* .chat_wrapper {
  height: 300px !important;
} */

.img_height {
  height: 232px !important;
}

.grey_box {
  background-color: #ebedf0;
}

.bottom_border {
  border-bottom: 1px solid #d9d9d9;
}
/* ===========Media-query========== */
@media (max-width: 468px) {
  .form_box {
    background: #ebedf0;
    min-width: 40%;
  }
}
